<div class="container mt-5">
    <div class="row center">
        <h1>
            Seja Bem Vindo!
        </h1>
    </div>

    <div class="row center mt-2">
        <h4>O que deseja fazer?</h4>
    </div>

    <div class="mt-5">
        <div class="row center mb-3">
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#cadastrarCliente" data-whatever="@mdo">Cadastrar Cliente</button>
        </div>
        <hr class="col-md-5">

        <div class="row center mb-3">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#consultarCliente" data-whatever="@fat">Consultar Cliente</button>
        </div>
        <hr class="col-md-5">


        <div class="row center mb-3">
            <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#editarCliente" data-whatever="@getbootstrap">Editar Cliente</button>
        </div>
        <hr class="col-md-5">

        <div class="row center mb-3">
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#excluirCliente" data-whatever="@getbootstrap">Excluir Cliente</button>
        </div>
        <hr class="col-md-5">
    </div>

</div>

<!--Modal Cadastrar Cliente-->
<div class="modal fade" id="cadastrarCliente" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cadastrar Cliente</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Nome:</label>
                        <input type="text" class="form-control" id="recipient-name">
                    </div>

                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Telefone:</label>
                        <input type="text" class="form-control" id="recipient-name">
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary">Cadastar</button>
            </div>
        </div>
    </div>
</div>
<!--/Modal Cadastrar Cliente-->

<!--Modal Consulta Cliente-->
<div class="modal fade" id="consultarCliente" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Consultar Cliente</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Digite o telefone do cliente:</label>
                        <input type="text" class="form-control" id="recipient-name">
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary">Consultar</button>
            </div>
        </div>
    </div>
</div>
<!--/Modal Consulta Cliente-->

<!--Modal Editar Cliente-->
<div class="modal fade" id="editarCliente" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editar Cliente</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Digite o telefone do cliente:</label>
                        <input type="text" class="form-control" id="recipient-name">
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary">Pesquisar</button>
            </div>
        </div>
    </div>
</div>
<!--/Modal Editar Cliente-->

<!--Modal Excluir Cliente-->
<div class="modal fade" id="excluirCliente" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Excluir Cliente</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Digite o telefone do cliente:</label>
                        <input type="text" class="form-control" id="recipient-name">
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary">Pesquisar</button>
            </div>
        </div>
    </div>
</div>
<!--/Modal Excluir Cliente-->